.media.media1 {
    background-color: rgba(255, 255, 255, 0.932);
   margin: 0px;
}

img {
    width: 200px;
}

.media-body.capt{
    text-align: center;
    margin: 40px 60px 0px 40px;
}
.media-heading{
    margin: 20px;
}


@media only screen and (max-width: 600px) {

    .media-body.capt{
        text-align: center;
        margin: 00px 0px 0px 0px;
    }
    .media-heading{
        margin: 20px;
    }
   }