div.find.container{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: rgb(94, 90, 87);
}

.Contact{
    width: 90%;
    height: 100px;
  margin: 0 auto;
  text-align: center;
}

.icon{
  width: 50px;
   transition: width 0.3s, height 0.3s;
}
.NameFooter{
    background-color: rgb(122, 121, 118);
    width: 101%;
    padding: auto;
    height: 80px;
    
}
.Name{
  color: white;
  margin: auto;
  font-size: 20px;
}

.icon:hover{
  width: 60px;
}

@media only screen and (max-width: 800px) {
  .icon{
    width: 40px;
     transition: width 0.3s, height 0.3s;
  }
  .icon:hover{
    width: 50px;
  }
  
 }
 
@media only screen and (max-width: 500px) {
  .icon{
    width: 25px;
     transition: width 0.3s, height 0.3s;
  }
  .icon:hover{
    width: 30px;
  }
  div.find.container{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  text-align: center;
  color: rgb(94, 90, 87);
}
.NameFooter{
  width: 103%;
}
 }